
body {
    background-image: url('img/eas.jpg');
    background-size: cover;
}

.container {
    background-color: white;
    height: 600px;
    width: 600px;
    border-style: solid;
    border-width: 2px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    background-color: white;
    transition: all 0.4s;
}

.btn-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.btn {
    height: 70px;
    width: 100px;
    transition: all 0.4s;
}

.btn:hover {
    transform: scale(1.3);
}